<!-- Copyright 2018 The Chromium Authors. All rights reserved.
     Use of this source code is governed by a BSD-style license that can be
     found in the LICENSE file. -->

<link rel="import" href="chrome://resources/html/polymer.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-icon/iron-icon.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-checkbox/paper-checkbox.html">

<dom-module id="recommend-apps">
  <template>
    <link rel="stylesheet" href="recommend_apps.css">
    <link rel="stylesheet" href="oobe_dialog_parameters.css">
    <link rel="stylesheet" href="oobe_flex_layout.css">
    <oobe-dialog id="recommendAppsOverviewDialog" role="dialog" has-buttons
        aria-label$="[[i18nDynamic(locale, 'recommendAppsScreenTitle')]]"
        no-footer-padding>
      <iron-icon src="chrome://oobe/playstore.svg" class="oobe-icon">
      </iron-icon>
      <div class="header">
        <h1 class="title">
          [[i18nDynamic(locale, 'recommendAppsScreenTitle')]]
        </h1>
        <div class="subtitle">
          [[i18nDynamic(locale, 'recommendAppsScreenDescription')]]
        </div>
      </div>
      <div id="recommend-apps-container" class="footer flex layout horizontal">
        <template is="dom-repeat" items="{{apps}}">
          <div class="column">
            <paper-checkbox>
              <div class="checkbox-label">
                <img class="app-icon" src="{{item.icon}}">
                <span class="app-title">{{item.name}}</span>
              </div>
            </paper-checkbox>
          </div>
        </template>
      </div>
      <div class="bottom-buttons layout horizontal end-justified">
        <oobe-text-button id="recommend-apps-skip-button" border on-tap="onSkip_">
          <div>[[i18nDynamic(locale, 'recommendAppsSkip')]]</div>
        </oobe-text-button>
        <oobe-text-button id="recommend-apps-install-button"
          on-tap="onInstall_" class="focus-on-show" inverse>
          <div>[[i18nDynamic(locale, 'recommendAppsInstall')]]</div>
        </oobe-text-button>
      </div>
    </oobe-dialog>
  </template>
</dom-module>
