<link rel="import" href="chrome://resources/html/polymer.html">

<link rel="import" href="chrome://resources/cr_elements/shared_vars_css.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-behaviors/paper-ripple-behavior.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-styles/color.html">

<dom-module id="cr-checkbox">
  <template>
    <style>
      :host {
        align-items: center;
        cursor: pointer;
        display: flex;
        outline: none;
        user-select: none;
      }

      :host([disabled]) {
        cursor: initial;
        opacity: 0.38;
        pointer-events: none;
      }

      #checkbox {
        background: none;
        border: none;
        cursor: pointer;
        height: 16px;
        margin: 0;
        outline: none;
        padding: 0;
        position: relative;
        transform: none;  /* Checkboxes shouldn't flip even in RTL. */
        width: 16px;
      }

      #checkmark {
        border: 2px solid var(--google-grey-700);
        border-radius: 2px;
        display: block;
        height: 12px;
        width: 12px;
      }

      #checkmark::after {
        border-color: inherit;
        border-style: solid;
        border-width: 0 2px 2px 0;
        content: '';
        display: block;
        height: 70%;
        transform: scale(0) rotate(45deg);
        transform-origin: 97% 86%;
        width: 36%;
      }

      :host-context([dir='rtl']) #checkmark::after {
        transform-origin: 50% 14%;
      }

      :host([checked]) #checkmark {
        background: var(--google-blue-600);
        border-color: var(--google-blue-600);
      }

      :host([checked]) #checkmark::after {
        border-color: white;
        transform: scale(1) rotate(45deg);
        /* Only animate when showing checkmark. */
        transition: transform 140ms ease-out;
      }

      paper-ripple {
        color: var(--cr-controls-background-grey);
        height: 40px;
        left: -12px;
        /* TODO(scottchen): this depends on opacity: 0.4 to compound with
           paper-ripple's internal opacity: 0.25 to become 0.1. Use custom
           property instead once paper-ripple supports it. */
        opacity: 0.4;
        pointer-events: none;
        top: -12px;
        transition: color linear 80ms;
        width: 40px;
      }

      :host([checked]) paper-ripple {
        color: var(--google-blue-600);
      }

      :host-context([dir=rtl]) paper-ripple {
        left: auto;
        right: -12px;
      }

      #label-container {
        -webkit-padding-start: 20px;
      }

      :host(.no-label) #label-container {
        display: none;
      }
    </style>
    <!-- Mousing down then moving cursor out of this element should not trigger
         click on the parent. With <button> this works as expected, while <div>
         does not. -->
    <button id="checkbox" tabindex="-1">
      <span id="checkmark"></span>
    </button>
    <div id="label-container"><slot></slot></div>
  </template>
  <script src="cr_checkbox.js"></script>
</dom-module>
