<link rel="import" href="chrome://resources/html/polymer.html">

<link rel="import" href="chrome://resources/cr_elements/cr_lazy_render/cr_lazy_render.html">
<link rel="import" href="../data/destination.html">
<link rel="import" href="advanced_settings_dialog.html">
<link rel="import" href="button_css.html">
<link rel="import" href="print_preview_shared_css.html">
<link rel="import" href="settings_behavior.html">
<link rel="import" href="settings_section.html">
<link rel="import" href="settings_section_behavior.html">

<dom-module id="print-preview-advanced-options-settings">
  <template>
    <style include="print-preview-shared button">
      :host button {
        min-height: 28px;
        width: 100%;
      }
    </style>
    <print-preview-settings-section>
      <span slot="title">$i18n{advancedOptionsLabel}</span>
      <div slot="controls">
        <button disabled$="[[disabled]]" on-click="onButtonClick_">
          $i18n{showAdvancedOptions}
        </button>
      </div>
    </print-preview-settings-section>
    <cr-lazy-render id="advancedDialog">
      <template>
        <print-preview-advanced-dialog
            settings="{{settings}}" destination="[[destination]]">
        </print-preview-advanced-dialog>
      </template>
    </cr-lazy-render>
  </template>
  <script src="advanced_options_settings.js"></script>
</dom-module>
