<link rel="import" href="chrome://resources/html/polymer.html">

<link rel="import" href="print_preview_shared_css.html">
<link rel="import" href="select_css.html">
<link rel="import" href="settings_section.html">
<link rel="import" href="settings_section_behavior.html">

<dom-module id="print-preview-color-settings">
  <template>
    <style include="print-preview-shared select">
    </style>
    <print-preview-settings-section>
      <span id="color-label" slot="title">$i18n{optionColor}</span>
      <div slot="controls">
        <select aria-labelledby="color-label" on-change="onChange_"
          disabled$="[[disabled]]">
          <option value="bw" selected>$i18n{optionBw}</option>
          <option value="color">$i18n{optionColor}</option>
        </select>
      </div>
    </print-preview-settings-section>
  </template>
  <script src="color_settings.js"></script>
</dom-module>
