<link rel="import" href="chrome://resources/html/polymer.html">

<link rel="import" href="chrome://resources/cr_elements/cr_dialog/cr_dialog.html">
<link rel="import" href="chrome://resources/cr_elements/hidden_style_css.html">
<link rel="import" href="chrome://resources/html/action_link_css.html">
<link rel="import" href="chrome://resources/html/event_tracker.html">
<link rel="import" href="chrome://resources/html/i18n_behavior.html">
<link rel="import" href="../metrics.html">
<link rel="import" href="../data/destination.html">
<link rel="import" href="../data/destination_store.html">
<link rel="import" href="../data/invitation.html">
<link rel="import" href="../data/invitation_store.html">
<link rel="import" href="button_css.html">
<link rel="import" href="destination_list.html">
<link rel="import" href="print_preview_search_box.html">
<link rel="import" href="print_preview_shared_css.html">
<link rel="import" href="provisional_destination_resolver.html">
<link rel="import" href="search_dialog_css.html">
<link rel="import" href="select_css.html">
<link rel="import" href="strings.html">
<link rel="import" href="throbber_css.html">

<dom-module id="print-preview-destination-dialog">
  <template>
    <style include="print-preview-shared button action-link select cr-hidden-style search-dialog throbber">
      :host #dialog {
        --cr-dialog-native: {
          box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2),
            0 2px 6px rgba(0, 0, 0, 0.15);
          width: 640px;
        }
      }

      :host .user-info {
        font-size: calc(13/15 * 1em);
        margin-top: 14px;
      }

      :host .user-info .account-select-label {
        -webkit-padding-end: 18px;
      }

      :host .user-info .account-select {
        width: auto
      }

      :host #dialog #promos {
        padding: 0;
      }

      :host #dialog .promo {
        align-items: center;
        background-color: #f5f5f5;
        border-top: 1px solid #e7e7e7;
        color: #888;
        display: flex;
        padding: 14px 17px;
      }

      :host #cloudprintPromo .promo-text {
        flex: 1;
      }

      :host #cloudprintPromo .icon {
        -webkit-margin-end: 12px;
        display: block;
        height: 24px;
        width: 24px;
      }

      :host #cloudprintPromo .close-button {
        -webkit-margin-start: 12px;
        background-image: -webkit-image-set(
          url(chrome://theme/IDR_CLOSE_DIALOG) 1x,
          url(chrome://theme/IDR_CLOSE_DIALOG@2x) 2x);
        background-repeat: no-repeat;
        background-size: 14px;
        height: 14px;
        width: 14px;
      }

      :host #cloudprintPromo .close-button:hover {
        background-image: -webkit-image-set(
          url(chrome://theme/IDR_CLOSE_DIALOG_H) 1x,
          url(chrome://theme/IDR_CLOSE_DIALOG_H@2x) 2x);
      }

      :host #cloudprintPromo .close-button:active {
        background-image: -webkit-image-set(
          url(chrome://theme/IDR_CLOSE_DIALOG_P) 1x,
          url(chrome://theme/IDR_CLOSE_DIALOG_P@2x) 2x);
      }

      :host #invitationPromo {
        flex-direction: column;
      }

      :host #invitationPromo .invitation-buttons {
        padding: 12px 0;
      }
    </style>
    <cr-dialog id="dialog" on-close="onCloseOrCancel_">
      <div slot="title">
        <div>$i18n{destinationSearchTitle}</div>
        <div class="user-info" hidden$="[[!userInfo.loggedIn]]">
          <label class="account-select-label" id="accountSelectLabel">
            $i18n{accountSelectTitle}
          </label>
          <select class="account-select" aria-labelledby="accountSelectLabel"
              on-change="onUserChange_">
            <template is="dom-repeat" items="[[userInfo.users]]">
              <option selected="[[isSelected_(item, userInfo.activeUser)]]"
                  value="[[item]]">
                [[item]]
              </option>
            </template>
            <option value="">$i18n{addAccountTitle}</option>
          </select>
        </div>
        <print-preview-search-box id="searchBox"
            label="$i18n{searchBoxPlaceholder}" search-query="{{searchQuery_}}">
        </print-preview-search-box>
      </div>
      <div slot="body" scrollable>
        <print-preview-destination-list
            destinations="[[recentDestinationList_]]"
            search-query="[[searchQuery_]]"
            title="$i18n{recentDestinationsTitle}"
            on-destination-selected="onDestinationSelected_">
        </print-preview-destination-list>
        <print-preview-destination-list destinations="[[destinations_]]"
            has-action-link loading-destinations="[[loadingDestinations_]]"
            search-query="[[searchQuery_]]"
            title="$i18n{printDestinationsTitle}"
            on-destination-selected="onDestinationSelected_">
        </print-preview-destination-list>
        <print-preview-provisional-destination-resolver id="provisionalResolver"
            destination-store="[[destinationStore]]">
        </print-preview-provisional-destination-resolver>
      </div>
      <div slot="button-container">
        <button class="cancel-button" on-click="onCancelButtonClick_">
          $i18n{cancel}
        </button>
      </div>
      <div id="promos" slot="footer">
        <div class="promo" id="cloudprintPromo"
            hidden$="[[!showCloudPrintPromo]]">
          <img src="../images/cloud.png" class="icon" alt="">
          <div class="promo-text"></div>
          <div class="close-button"></div>
        </div>
        <div class="promo" id="invitationPromo" hidden="[[!invitation_]]">
          <div inner-h-t-m-l="[[getInvitationText_(invitation_)]]"></div>
          <div class="invitation-buttons">
            <button on-click="onInvitationAcceptClick_">
              [[getAcceptButtonText_(invitation_)]]
            </button>
            <button on-click="onInvitationRejectClick_">$i18n{reject}</button>
            <div id="invitation-process-throbber" class="throbber" hidden></div>
          </div>
          <div>$i18nRaw{registerPrinterInformationMessage}</div>
        </div>
      </div>
    </cr-dialog>
  </template>
  <script src="destination_dialog.js"></script>
</dom-module>
