<link rel="import" href="chrome://resources/html/polymer.html">

<link rel="import" href="chrome://resources/html/cr.html">
<link rel="import" href="print_preview_shared_css.html">
<link rel="import" href="settings_behavior.html">
<link rel="import" href="settings_section.html">
<link rel="import" href="settings_section_behavior.html">
<link rel="import" href="settings_select.html">
<link rel="import" href="strings.html">

<dom-module id="print-preview-dpi-settings">
  <template>
    <style include="print-preview-shared">
    </style>
    <print-preview-settings-section>
      <span id="dpi-label" slot="title">$i18n{dpiLabel}</span>
      <div slot="controls">
        <print-preview-settings-select aria-labelled-by="dpi-label"
            capability="[[capabilityWithLabels_]]" setting-name="dpi"
            settings="{{settings}}" disabled="[[disabled]]">
        </print-preview-settings-select>
      </div>
    </print-preview-settings-section>
  </template>
  <script src="dpi_settings.js"></script>
</dom-module>
