<link rel="import" href="chrome://resources/html/polymer.html">

<link rel="import" href="print_preview_shared_css.html">
<link rel="import" href="select_css.html">
<link rel="import" href="settings_behavior.html">
<link rel="import" href="settings_section.html">
<link rel="import" href="settings_section_behavior.html">

<dom-module id="print-preview-layout-settings">
  <template>
    <style include="print-preview-shared select"></style>
    <print-preview-settings-section>
      <span id="layout-label" slot="title">$i18n{layoutLabel}</span>
      <div slot="controls">
        <select aria-labelledby="layout-label" on-change="onChange_"
          disabled$="[[disabled]]">
          <option value="portrait" selected>$i18n{optionPortrait}</option>
          <option value="landscape">$i18n{optionLandscape}</option>
        </select>
      </div>
    </print-preview-settings-section>
  </template>
  <script src="layout_settings.js"></script>
</dom-module>
