<link rel="import" href="chrome://resources/html/polymer.html">

<link rel="import" href="print_preview_shared_css.html">
<link rel="import" href="select_css.html">
<link rel="import" href="settings_behavior.html">
<link rel="import" href="settings_section.html">
<link rel="import" href="settings_section_behavior.html">

<dom-module id="print-preview-margins-settings">
  <template>
    <style include="print-preview-shared select">
    </style>
    <print-preview-settings-section>
      <span id="margins-label" slot="title">$i18n{marginsLabel}</span>
      <div slot="controls">
        <select aria-labelledby="margins-label" on-change="onChange_"
          disabled$="[[disabled]]">
          <!-- The order of these options must match the natural order of their
          values, which come from
          print_preview.ticket_items.MarginsTypeValue. -->
          <option value="0" selected>$i18n{defaultMargins}</option>
          <option value="1">$i18n{noMargins}</option>
          <option value="2">$i18n{minimumMargins}</option>
          <option value="3">$i18n{customMargins}</option>
        </select>
      </div>
    </print-preview-settings-section>
  </template>
  <script src="margins_settings.js"></script>
</dom-module>
