<link rel="import" href="chrome://resources/html/polymer.html">

<link rel="import" href="print_preview_shared_css.html">
<link rel="import" href="settings_behavior.html">
<link rel="import" href="settings_section.html">
<link rel="import" href="settings_section_behavior.html">
<link rel="import" href="settings_select.html">

<dom-module id="print-preview-media-size-settings">
  <template>
    <style include="print-preview-shared">
    </style>
    <print-preview-settings-section>
      <span id="media-size-label" slot="title">$i18n{mediaSizeLabel}</span>
      <div slot="controls">
        <print-preview-settings-select aria-labelledby="media-size-label"
            capability="[[capability]]" setting-name="mediaSize"
            settings="{{settings}}" disabled="[[disabled]]">
        </print-preview-settings-select>
      </div>
    </print-preview-settings-section>
  </template>
  <script src="media_size_settings.js"></script>
</dom-module>
