<link rel="import" href="chrome://resources/html/polymer.html">

<link rel="import" href="chrome://resources/cr_elements/hidden_style_css.html">
<link rel="import" href="checkbox_radio_css.html">
<link rel="import" href="print_preview_shared_css.html">
<link rel="import" href="settings_behavior.html">
<link rel="import" href="settings_section.html">
<link rel="import" href="settings_section_behavior.html">

<dom-module id="print-preview-other-options-settings">
  <template>
    <style include="print-preview-shared checkbox-radio cr-hidden-style">
      label {
        display: block;
      }
    </style>
    <print-preview-settings-section class="multirow-controls">
      <span slot="title" id="options-label">$i18n{optionsLabel}</span>
      <div slot="controls" class="checkbox">
        <label hidden$="[[!settings.headerFooter.available]]"
            aria-live="polite">
          <input type="checkbox" id="headerFooter"
              disabled$="[[disabled]]"
              on-change="onHeaderFooterChange_"
              checked$="[[settings.headerFooter.value]]">
          <span>$i18n{optionHeaderFooter}</span>
        </label>
        <label hidden$="[[!settings.duplex.available]]"
            aria-live="polite">
          <input type="checkbox" id="duplex" on-change="onDuplexChange_"
              disabled$="[[disabled]]"
              checked$="[[settings.duplex.value]]">
          <span>$i18n{optionTwoSided}</span>
        </label>
        <label hidden$="[[!settings.cssBackground.available]]"
            aria-live="polite">
          <input type="checkbox" id="cssBackground"
              on-change="onCssBackgroundChange_"
              disabled$="[[disabled]]"
              checked$="[[settings.cssBackground.value]]">
          <span>$i18n{optionBackgroundColorsAndImages}</span>
        </label>
        <label hidden$="[[!settings.rasterize.available]]"
            aria-live="polite">
          <input type="checkbox" id="rasterize"
              disabled$="[[disabled]]" on-change="onRasterizeChange_"
              checked$="[[settings.rasterize.value]]">
          <span>$i18n{optionRasterize}</span>
        </label>
        <label hidden$="[[!settings.selectionOnly.available]]"
            aria-live="polite">
          <input type="checkbox" id="selectionOnly"
              disabled$="[[disabled]]"
              on-change="onSelectionOnlyChange_"
              checked$="[[settings.selectionOnly.value]]">
          <span>$i18n{optionSelectionOnly}</span>
        </label>
      </div>
    </print-preview-settings-section>
  </template>
  <script src="other_options_settings.js"></script>
</dom-module>
