<link rel="import" href="chrome://resources/html/polymer.html">

<link rel="import" href="chrome://resources/html/action_link.html">
<link rel="import" href="chrome://resources/html/action_link_css.html">
<link rel="import" href="chrome://resources/html/assert.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-button/paper-button.html">
<link rel="import" href="chrome://resources/html/md_select_css.html">
<link rel="import" href="../settings_shared_css.html">
<link rel="import" href="../settings_vars_css.html">
<link rel="import" href="add_smb_share_dialog.html">

<dom-module id="settings-smb-shares-page">
  <template>
    <style include="settings-shared"></style>
    <div class="settings-box first">
      <div class="start">
        <span>$i18n{smbSharesLearnMoreLabel}</span>
        <a href="http://support.google.com" target="_blank">
          $i18n{learnMore}
        </a>
        <div class="secondary" hidden="false">
          $i18n{requireNetworkMessage}
        </div>
      </div>
      <paper-button class="action-button" id="addShare"
          on-click="onAddShareTap_">
        $i18n{addSmbShare}
      </paper-button>
    </div>
    <template is="dom-if" if="[[showAddSmbDialog_]]" restamp>
      <settings-add-smb-share-dialog on-close="onAddSmbDialogClosed_">
      </settings-add-smb-share-dialog>
    </template>
  </template>
  <script src="smb_shares_page.js"></script>
</dom-module>
