<link rel="import" href="chrome://resources/html/polymer.html">

<link rel="import" href="chrome://resources/cr_elements/paper_button_style_css.html">
<link rel="import" href="chrome://resources/cr_elements/shared_style_css.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-button/paper-button.html">

<dom-module id="button-bar">
  <template>
    <style include="paper-button-style cr-shared-style">
      :host {
        display: flex;
        justify-content: flex-end;
      }
      paper-button {
        text-transform: none;
      }
    </style>
    <paper-button
        id="backward"
        on-click="onBackwardButtonClicked_"
        class="cancel-button"
        hidden$="[[!backwardButtonText]]">
      [[backwardButtonText]]
    </paper-button>
    <paper-button
        id="forward"
        on-click="onForwardButtonClicked_"
        class="action-button"
        hidden$="[[!forwardButtonText]]">
      [[forwardButtonText]]
    </paper-button>
  </template>
  <script src="button_bar.js"></script>
</dom-module>
