<link rel="import" href="chrome://resources/html/polymer.html">

<link rel="import" href="chrome://resources/polymer/v1_0/iron-icon/iron-icon.html">
<link rel="import" href="icons.html">

<dom-module id="ui-page">
  <template>
    <style>
      iron-icon {
        height: 32px;
        width: 32px;
      }
    </style>
    <iron-icon icon="[[computeIconIdentifier_(iconName)]]"></iron-icon>
    <div>[[title]]</div>
    <slot name="message"></slot>
    <slot name="additional-content"></slot>
    <slot name="page-specific-image"></slot>
  </template>
  <script src="ui_page.js"></script>
</dom-module>
