<h1>Manifest for storage areas</h1>

<p>
Unlike the <code>local</code> and <code>sync</code> storage areas, the
<code>managed</code> storage area requires its structure to be declared as
<a href="https://tools.ietf.org/html/draft-zyp-json-schema-03">JSON Schema</a>
and is strictly validated by Chrome. This schema must be stored in a file
indicated by the <code>"managed_schema"</code> property of the
<code>"storage"</code> manifest key and declares the enterprise
policies supported by the {{platform}}.
</p>

<p>
Policies are analogous to options but are configured by a system
administrator instead of the user, allowing the {{platform}} to be
preconfigured for all users of an organization. See
<a href="https://www.chromium.org/administrators/">how Chrome handles policies</a>
for examples from Chrome itself.
</p>

<p>
After declaring the policies they can be read from the
<a href="../storage#property-managed">storage.managed</a> API.
It's up to the {{platform}} to enforce the policies configured
by the administrator.
</p>

<h2 id="manifest">Sample manifest.json</h2>

<p>
The <code>storage.managed_schema</code> property indicates a file
within the {{platform}} that contains the policy schema.
</p>

<pre data-filename="manifest.json">
{
  "name": "My enterprise {{platform}}",
  "storage": {
    "managed_schema": "schema.json"
  },
  ...
}
</pre>

<p>
Chrome will then load these policies from the underlying operating system
and from Google Apps for signed-in users. The
<a href="../storage#event-onChanged">storage.onChanged</a>
event is fired whenever a policy change is detected, including while
the browser wasn't running if the {{platform}} uses
<a href="../event_pages">event pages</a>.
You can verify the policies that Chrome loaded at
<a href="chrome://policy">chrome://policy</a>.
</p>

<h2 id="format">Schema format</h2>

<p>
The JSON Schema format has some additional requirements from Chrome:
</p>

<ul>
<li>The top-level schema must have type <code>object</code>.</li>
<li>The top-level <code>object</code> can't have
<code>additionalProperties</code>. The <code>properties</code>
declared are the policies for this {{platform}}.</li>
<li>Each schema must have either a <code>$ref</code> value or exactly one <code>type</code>.</li>
</ul>

<p>
If the schema is invalid then Chrome won't load the extension and will
indicate the reason why the schema wasn't validated. If a policy value
does not conform to the schema then it will not be published by the
<code>storage.managed</code> API.
</p>

<h2 id="sample">Sample schema</h2>

<pre data-filename="schema.json">
{
  "type": "object",

  // "properties" maps an optional key of this object to its schema. At the
  // top-level object, these keys are the policy names supported.
  "properties": {

    // The policy name "AutoSave" is mapped to its schema, which in this case
    // declares it as a simple boolean value.
    // "title" and "description" are optional and are used to show a
    // user-friendly name and documentation to the administrator.
    "AutoSave": {
      "title": "Automatically save changes.",
      "description": "If set to true then changes will be automatically saved.",
      "type": "boolean"
    },

    // Other simple types supported include "integer", "string" and "number".
    "PollRefreshRate": {
      "type": "integer"
    },

    "DefaultServiceUrl": {
      "type": "string"
    },

    // "array" is a list of items that conform to another schema, described
    // in "items". An example to this schema is [ "one", "two" ].
    "ServiceUrls": {
      "type": "array",
      "items": {
        "type": "string"
      }
    },

    // A more complex example that describes a list of bookmarks. Each bookmark
    // has a "title", and can have a "url" or a list of "children" bookmarks.
    // The "id" attribute is used to name a schema, and other schemas can reuse
    // it using the "$ref" attribute.
    "Bookmarks": {
      "type": "array",
      "id": "ListOfBookmarks",
      "items": {
        "type": "object",
        "properties": {
          "title": { "type": "string" },
          "url": { "type": "string" },
          "children": { "$ref": "ListOfBookmarks" }
        }
      }
    },

    // An "object" can have known properties listed as "properties", and can
    // optionally have "additionalProperties" indicating a schema to apply to
    // keys that aren't found in "properties".
    // This example policy could map a URL to its settings. An example value:
    // {
    //   "youtube.com": {
    //     "blacklisted": true
    //   },
    //   "google.com": {
    //     "bypass_proxy": true
    //   }
    // }
    "SettingsForUrls": {
      "type": "object",
      "additionalProperties": {
        "type": "object",
        "properties": {
          "blacklisted": { "type": "boolean" },
          "bypass_proxy": { "type": "boolean" }
        }
      }
    }
  }
}
</pre>
