<link rel="import" href="chrome://resources/html/polymer.html">

<link rel="import" href="chrome://resources/polymer/v1_0/paper-styles/color.html">

<!-- Common css variables for Material Design WebUI. -->
<style is="custom-style">
  :root {
    --cr-actionable: {
      cursor: pointer;
    };

    --cr-button-edge-spacing: 12px;

    /* Spacing between policy (controlledBy) indicator and control. */
    --cr-controlled-by-spacing: 24px;

    --cr-focused-item-color: var(--google-grey-300);

    /* The inner icon is 20px in size. The button has 8px * 2 padding. */
    --cr-icon-ripple-size: 36px;
    --cr-icon-ripple-padding: 8px;

    --cr-icon-size: 20px;

    --cr-icon-height-width: {
      height: var(--cr-icon-size);
      width: var(--cr-icon-size);
    }

    --cr-icon-button-margin-start: 16px;

    --cr-icon-ripple-margin: calc(var(--cr-icon-ripple-padding) * -1);

    --cr-paper-icon-button-margin: {
      /* Shift button so ripple overlaps the end of the row. */
      -webkit-margin-end: var(--cr-icon-ripple-margin);
      -webkit-margin-start: var(--cr-icon-button-margin-start);
    }

    --cr-primary-text: {
        color: var(--paper-grey-900);
        line-height: 154%;  /* 20px. */
     }

    --cr-secondary-text: {
      color: var(--paper-grey-600);
      font-weight: 400;
    }

    /* TODO (scottchen): re-implement with paddings instead; */
    /* These are used for row items such as radio buttons, check boxes, list
     * items etc. */
    --cr-section-min-height: 48px;
    --cr-section-two-line-min-height: 64px;
    --cr-section-three-line-min-height: 84px;

    --cr-section-padding: 20px;
    --cr-section-indent-width: 40px;
    --cr-section-indent-padding: calc(
        var(--cr-section-padding) + var(--cr-section-indent-width));

    --cr-section: {
      align-items: center;
      border-top: var(--cr-separator-line);
      display: flex;
      min-height: var(--cr-section-min-height);
      padding: 0 var(--cr-section-padding);
    };

    --cr-text-elide: {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    };

    --cr-title-text: {
        color: rgb(90, 90, 90);
        font-size: 107.6923%;  /* Go to 14px from 13px. */
        font-weight: 500;
    };

    --cr-section-text: {
        color: var(--paper-grey-700);
        font-size: 100%;  /* Likely to be 13px. */
        font-weight: 500;
    };

    --cr-toggle-color: var(--google-blue-500);

    --cr-tooltip: {
      font-size: 92.31%;  /* Effectively 12px if the host default is 13px. */
      font-weight: 500;
      max-width: 330px;
      min-width: 200px;
      padding: 10px 8px;
    }

    --cr-selectable-focus: {
      background-color: var(--cr-focused-item-color);
      outline: none;
    }
    --cr-separator-height: 1px;
    --cr-separator-line: var(--cr-separator-height) solid rgba(0, 0, 0, 0.06);

    --cr-container-shadow: {
      box-shadow: inset 0 5px 6px -3px rgba(0, 0, 0, 0.4);
      height: 6px;
      left: 0;
      margin-bottom: -6px;
      opacity: 0;
      pointer-events: none;
      position: relative;
      right: 0;
      top: 0px;
      transition: opacity 500ms;
      z-index: 1;
    }

    --cr-container-shadow-max-opacity: 1;

    /** MD Refresh Styles */
    --google-blue-600: #1A73E8;
    --google-grey-400: #BDC1C6;
    --cr-controls-background-grey: #2A3146;
  }
</style>
